{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %}
<div id="title-container">
  <pre>  
      ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
      ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
      ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
      ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
      ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
       ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                            
  </pre>
</div>

<div class="table-container">
    <h3> 
        What is Word-Amble? 
    </h3>
        <p>
            Word-Amble offers an experience akin to Scrabble, 
            inviting users to skillfully extract words from a given string of 10 characters in order to earn points! 
        </p>

    <h3> 
        Inspirations
    </h3>
    <p>
        The Inspiration for this puzzle draws from the New York Times Spelling Bee and an array of other engaging games. 
        Our decision to infuse it with a retro theme was sparked by nostalgia for vintage computers, ASCII art, and classic games such as Fallout.
    </p>

    <h3>Creators</h3>
    <table>
      <tr>
        <th>UWA ID</th>
        <th>Name</th>
        <th>Github Username</th>
      </tr>
      <tr>
        <td>21727658</td>
        <td>Jack Donaghy</td>
        <td>good-programmer</td>
      </tr>
      <tr>
        <td>23477174</td>
        <td>Thomas Nguyen</td>
        <td>tnguyen7523</td>
      </tr>
      <tr>
        <td>23402727</td>
        <td>Nathan Buluran</td>
        <td>naetnaetnaet</td>
      </tr>
      <tr>
        <td>22705919</td>
        <td>Jakem Pinchin</td>
        <td>JakePinchin</td>
      </tr>
    </table>
</div>


{% endblock %}
