<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link defer rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>word-amble</title>
  {% endif %}
</head>
<body>
  <div id="crt-effect"></div>
  <div id="scanlines"></div>
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-link"><a href="{{ url_for(route.index) }}">Home</a></li>
          <li class="nav-link"><a href="{{ url_for(route.about_us) }}">About</a></li>
          {% if current_user.is_anonymous %}
          <li class="nav-link"><a href="{{ url_for(route.login) }}">Login</a></li>
          <li class="nav-link"><a href="{{ url_for(route.register) }}">Register</a></li>
          {% else %}
          <li class="nav-link"><a href="{{ url_for(route.puzzle.random)}}">Random</a></li>
          <li class="nav-link"><a href="{{ url_for(route.puzzle.search)}}">Search</a></li>
          <li class="nav-link"><a href="{{ url_for(route.puzzle.create) }}">Create</a></li>
          <li class="nav-link"><a href="{{ url_for(route.user.profile, userid=current_user.id) }}">Profile</a></li>
          <li class="nav-link"><a href="{{ url_for(route.logout) }}">Logout</a></li>
          {% endif %}
        </ul>
        <div id="nav-hint" class="navbar-nav ml-auto">
          <span id="nav-location" class="nav-item">>>><span>
        </div>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>