{% extends "base.html" %}
{% block title %} word-amble {% endblock %}
{% block content %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
<div id="title-container">
    <pre>  
      ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
      ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
      ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
      ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
      ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
       ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                              
    </pre>
  </div>
<div class="panel-container">
    <div class="buttons-container">
        <button class="toggle-button" type=button>Popular</button>
        <button class="toggle-button" type="button">Hot</button>
        <button class="toggle-button toggle-button--selected" type="button">Recent</button>
    </div>
    <div class="post-container" data-post-container>
        <template class="post-template">
            <div class="post">
                <div class="puzzle-row">
                    <a class="puzzle-title" href="" data-puz-title></a>
                    <a class="puzzle-id" href="" data-puz-id></a>
                </div>
                <div class="author-row">
                    <a class="author-name" href="" data-author-name></a>
                    <a class="author-id" href="" data-author-id></a>
                    <div class="date-created" data-date-created></div> 
                </div>
                <div class="stats-row">
                    <div class="play-count matrix-number" data-playcount></div>
                    <div class="avg-rating matrix-number" data-avg-rating></div>
                    <div class="highscore matrix-number" data-highscore></div>
                </div>
            </div>
        </template>
    </div>
    <div class="page-change-container">
        <button class="arrow-button" id="left-arrow">&lt;</button>
        <div id="page-num-container">
            <template class="page-num-template">
                <button class="page-number-button" data-pnButton></button>
            </template>
        </div>
        <button class="arrow-button" id="right-arrow">&gt;</button>
        <div id="dataContainer"></div>
    </div>
</div>
{% endblock %}
