{% extends "base.html" %}
{% block title %} word-amble {% endblock %}
{% block content %}
<link rel = "stylesheet" href = "../static/css/index.css">
<script src = "../static/js/index.js" defer></script>
<div id = "title-container">
    <pre>
        

        ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
        ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
        ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
        ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
        ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
            ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                            
        
                                                                                        

    </pre>
</div>

<nav class="navbar">
    <ul class = "nav-item-list">
        <li class = "nav-item"><a href = {{url_for(route.puzzle.play, puzzleid=1)}}>Random Puzzle</a></li>
        <li class = "nav-item"></li><a href = "{{ url_for(route.puzzle.search) }}">Search</a></li>
        {%if  not current_user.is_authenticated%}
            <li class = "nav-item"></li><a href = "{{ url_for(route.login) }}">Login</a></li>
            <li class = "nav-item"><a href = "{{ url_for(route.register) }}">Register</a></li>
        {%else%}
            <li class = "nav-item"></li><a href = "{{ url_for(route.puzzle.create) }}">Submit Puzzle</a></li>
            <li class = "nav-item"></li><a href = "{{ url_for(route.user.profile, userid=current_user.id) }}">Profile</a></li>
            <li class = "nav-item"><a href = "{{ url_for(route.logout) }}">Logout</a></li>
        {%endif%}
    </ul>
</nav>

<div class="panel-container">
    <div class="buttons-container">
        <button class="toggle-button" type=button>Popular</button>
        <button class="toggle-button" type="button">Hot</button>
        <button class="toggle-button toggle-button--selected" type="button">Recent</button>
    </div>
    <div class="post-container" data-post-container>
        <template post-template>
            <div class="post">
                <div class="puzzle-row">
                    <a class="puzzle-title" href="" data-puz-title></a>
                    <a class="puzzle-id" href="" data-puz-id></a>
                </div>
                <div class="author-row">
                    <a class="author-name" href="" data-author-name></a>
                    <a class="author-id" href="" data-author-id></a>
                    <div class="date-created" data-date-created></div> 
                </div>
                <div class="stats-row">
                    <div class="play-count" data-playcount></div>
                    <div class="avg-rating" data-avg-rating></div>
                    <div class="highscore" data-highscore></div>
                </div>
            </div>
        </template>
    </div>
    <div class="page-change-container">
        <button class="arrow-button" id="left-arrow">&lt;</button>
        <div id="page-num-container">
            <template page-num-template>
                <button class="page-number-button" pnButton></button>
            </template>
        </div>
        <button class="arrow-button" id="right-arrow">&gt;</button>
        <div id="dataContainer"></div>
    </div>
</div>
{% endblock %}
