<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>

    <link rel = "stylesheet" href = "../static/css/index.css">
</head>
<body>
    
    <div class = "title-container">
        <pre>
            
██████╗ ██╗      █████╗  ██████╗███████╗██╗  ██╗ ██████╗ ██╗     ██████╗ ███████╗██████╗ 
██╔══██╗██║     ██╔══██╗██╔════╝██╔════╝██║  ██║██╔═══██╗██║     ██╔══██╗██╔════╝██╔══██╗
██████╔╝██║     ███████║██║     █████╗  ███████║██║   ██║██║     ██║  ██║█████╗  ██████╔╝
██╔═══╝ ██║     ██╔══██║██║     ██╔══╝  ██╔══██║██║   ██║██║     ██║  ██║██╔══╝  ██╔══██╗
██║     ███████╗██║  ██║╚██████╗███████╗██║  ██║╚██████╔╝███████╗██████╔╝███████╗██║  ██║
╚═╝     ╚══════╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                                                         

        </pre>
    </div>

    <nav class="navbar">
        <ul class = "nav-item-list">
            <li class = "nav-item"><a href = "wordGame.html">Random Puzzle</a></li>
            <li class = "nav-item"></li><a href = "login.html">Login</a></li>
            <li class = "nav-item"><a href = "register.html">Register</a></li>
        </ul>
    </nav>  
</body>
</html>