{% extends "base.html" %}
{% block title %} Login Page {% endblock %}
{% block content %}
<div id="title-container">
  <pre>  
      ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
      ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
      ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
      ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
      ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
       ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                            
  </pre>
</div>

<div id="login">
  <form class="primary" name="login-form" method="POST" action="{{ url_for(route.login) }}">
    {{ form.csrf_token }}
    <div id="login-inner">
      <h1 class="header">Login</h1>
      {{ form.hidden_tag() }}
      <label for="username">Username </label>
      {{ form.username(class="form-control", id="username-input") }}

      <label for="password">Password </label>
      {{ form.password(class="form-control", id="password-input") }}

      <div id="remember-me">
        {{ form.remember_me(class="form-check-input") }}
        <label for="remember" class="form-check-label">Remember me</label>
      </div>
      
      <br>
      <input class="submitbutton" type="submit" id=submit value="Login">
      <br>
      <p id="create-account" class="hint"><a href="{{url_for(route.register)}}">Create account</a></p>
    </div>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="error-message one-eighth">
        {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
</div>
{% endblock %}
