<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

<div id="login" >
  <form class="primary" name="login-form" method="POST">
    <div id="login-inner">
      <h1 class="header">Login</h1>
      <label for="username">Username </label>
      <input type="text" name="username" id="username-input">

      <label for="password">Password </label>
      <input type="password" name="password" id="password-input">

      <div id="remember-me">
        <label for="remember" class="hint">Remember me</label>
        <input class="hint" type="checkbox" name="remember" id="remember">
      </div>
      
      <br>
      <input class="submit button" type="submit" id=submit value="Login">
      <br>
      <p id="create-account" class="hint"><a href="{{url_for(route.register)}}">Create account</a></p>
    </div>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="error-message one-eighth">
        {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
</div>