{% extends "base.html" %}
{% block content %}
<h1>user: {{user['username']}}</h1>
<div id="user-and-feed-container">
  <div class="Screen MatrixTextGreen" id="user-info">
  
    <p class="no-indent">user_info {</p>
    <p>highest_score: <span class="matrix-number">{{user['highscore']}}</span></p>
    <p>total_completed_puzzles: <span class="matrix-number">{{user['scores']|length}}</span></p>
    <p>total_ratings: <span class="matrix-number">{{user['ratings']|length}}</span></p>
    <p>total_created puzzles: <span class="matrix-number">{{user['puzzles']|length}}</span></p>
    <p>followers: <span class="matrix-number">{{user['followers']|length}}</span></p>
    <p>following: <span class="matrix-number">{{user['following']|length}}</span></p>
    <p class="no-indent">}</p>
    {% if current_user.is_authenticated %}
      {% if current_user.id != user['id'] %}
        {% if not following %}
          <button class="Screen MatrixTextGreen" id="follow-button" data-targetaction="follow" data-targetuser="{{user['id']}}">[FOLLOW]</button>
        {% else %}
          <button class="Screen MatrixTextGreen" id="follow-button" data-targetaction="unfollow" data-targetuser="{{user['id']}}">[UNFOLLOW]</button>
        {% endif %}
      {% endif %}
    {% else %}
      <p><i>Log in to follow</i></p>
    {% endif %}
  </div>
  {% if current_user.is_authenticated %}
    {% if current_user.id == user['id'] %}
      <div class="Screen MatrixTextGreen" id="user-feed">
        <p class="no-indent">user_feed {</p>
        <div id="feed-container">
          <template class="created-feed-template">
            <div>> <a id="followed-creator-name" href=""></a> created a new puzzle <a id="followed-creator-puzzle-title" href=""></a> on <span id="followed-date-created"></span></div>
          </template>
          <template class="rated-feed-template">
            <div>> <a id="followed-name" href=""></a> rated <a id="followed-creator-puzzle-title" href=""></a> a <span id="followed-given-rating"></span> on <span id="followed-date-rated"></span></div>
          </template>
        </div>
        <p class="no-indent">}</p>
      </div>
    {% endif %}
  {% endif %}
</div>

<div id="profile-list-container" class="row">
  <div class="col-md-4">
    <h2>created puzzles</h2><select class="Screen MatrixTextGreen" id="created-puzzles-sort"><option value="rating">sort by rating</option><option value="play_count">sort by plays</option></select>
    <div id='created-list' class="post-list">
      {% for puzzle in user['puzzles']|sort(attribute='average_rating', reverse=True) %}
          <div class="post-body">
              <a class="hlink" href="{{url_for(route.puzzle.info, puzzleid=puzzle['id'])}}>{{ puzzle['title']}}"></a><br>
              <a class="hlink" href="{{url_for(route.user.profile, userid=puzzle['creatorID'])}}>{{ puzzle['creator']}}"></a><br>
              Total plays: <span class="matrix-number">{{ puzzle['play_count'] }}</span><br>
              Average rating: <span class="matrix-number">{{ puzzle['average_rating']|round(2) }}</span><br>
              Highest score: <span class="matrix-number">{{ puzzle['highscore'] }}</span>
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <h2>completed puzzles</h2> <select class="Screen MatrixTextGreen" id="completed-puzzles-sort"><option value="date">sort by date</option><option value="score">sort by score</option></select>
    <div id='completed-list' class="post-list">
      {% for puzzle in user['scores']|sort(attribute='dateSubmitted', reverse=True) %}
        <div class="post-body">
            <a class="hlink" href="{{url_for(route.puzzle.info, puzzleid=puzzle['id']) }}>{{ puzzle['title']}}"></a><br>
            <a class="hlink" href="{{url_for(route.user.profile, userid=puzzle['creatorID']) }}>{{ puzzle['creator']}}"></a><br>
            Total plays: <span class="matrix-number"></span>{{ puzzle['play_count'] }}<br>
            Score: <span class="matrix-number">{{ puzzle['score'] }}</span><br>
            Date completed: <span class="matrix-number"></span>{{ puzzle['dateSubmitted'][:10] }}<br>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <h2>rated puzzles</h2><select class="Screen MatrixTextGreen" id="rated-puzzles-sort"><option value="date">sort by date</option><option value="rating">sort by rating</option></select>
    <div id='rated-list' class="post-list">
      {% for puzzle in user['ratings']|sort(attribute='dateRated', reverse=True) %}
        <div class="post-body">
            <a class="hlink" href="{{url_for(route.puzzle.info, puzzleid=puzzle['id']) }}>{{ puzzle['title']}}"></a><br>
            <a class="hlink" href="{{url_for(route.user.profile, userid=puzzle['creatorID']) }}>{{ puzzle['creator']}}"></a><br>
            Total plays: <span class="matrix-number">{{ puzzle['play_count'] }}</span><br>
            Rating: <span class="matrix-number">{{ puzzle['rating'] }}</span><br>
            Date rated: <span class="matrix-number">{{ puzzle['dateRated'][:10] }}</span><br>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/profile.js')}}"></script>
{% endblock %}