{% extends "base.html" %}
{% block content %}
<br>
<div class="row">
  <div class="col-md-6">
    <h1 id="puzzle-title">puzzle: {{puzzle['title']}}</h1>
    <div class="Screen MatrixTextGreen" id="puzzle-info">
      <p>/* author: <a class="user-link" href="{{url_for(route.user.profile, userid=puzzle['creatorID'])}}">{{puzzle['creator']}}</a> */</p>
      <p>stats {</p>
      <p>plays: <span class="matrix-number">{{puzzle['play_count']}}</span></p>
      <p>highest_score: <span class="matrix-number">{{puzzle['highscore']}}</span></p>
      {% if 'score' in puzzle %}
        <p>your_score: <span class="matrix-number">{{puzzle['score']['score']}} ({{puzzle['score']['dateSubmitted'][:10]}})</span></p>
      {% endif %}
      <p>date_created: <span class="matrix-number">{{puzzle['dateCreated'][:10]}}</span></p>
      <p>average_rating: <span class="matrix-number">{{puzzle['average_rating']|round(2)}} ({{puzzle['rating_count']}})</span></p>
      <p class="no-indent">}</p>
      <button data-href="{{url_for(route.puzzle.play, puzzleid=puzzle['id'])}}" class="Screen MatrixTextGreen" id="play-button" {% if not current_user.is_authenticated or puzzle['score'] %}disabled{% endif %}>[PLAY THIS PUZZLE]</button><br>
      <div id="rate-section" {% if not current_user.is_authenticated %} data-display=false {% endif %}>
        <p class="no-indent" id="rate-text">rate_puzzle {</p>
          <div id="rate-slider">
            <p class="Screen MatrixTextYellow" id="rate-back">☆☆☆☆☆</p>
            <p class="Screen MatrixTextYellow" id="rate-current">★★★★★</p>
          </div>
        <p class="no-indent">}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="leaderboard-container">
      <div id="leaderboard-header">
        <span id="leaderboard-title">leaderboard:</span>
        <div id="switch-leaderboard" class="buttons-container">
          <button class="toggle-button" type="button">All</button>
          {% if current_user.is_authenticated %}<button class="toggle-button" type="button">Following</button>{% endif %}
        </div>
      </div>
      <div class="leaderboard-body" {% if puzzle['scores']|length == 0%} data-empty=true {% endif %}>
        <div id="main-leaderboard" class="leaderboard post-list">
          {% for score in puzzle['scores']|sort(attribute='score',reverse=True) %}
            <div class="post-body" {% if score['name'] == current_user.name %} data-self=true {% elif score['id'] in following %} data-following=true {% endif %}>
              <div>
                <b>{{loop.index}}. </b>
                <a class="user-link" href="{{url_for(route.user.profile, userid=score['id'])}}">{{score['name']}}</a>  |  <span class="matrix-number">{{score['score']}}</span>
              </div>
              <div class="matrix-secondary">
                {{score['dateSubmitted'][:10]}}
              </div>
            </div>
          {% endfor %}
        </div>
        <div id="following-leaderboard" class="leaderboard post-list" data-display="false">
          {% set counter={"position": 1} %}
          {% for score in puzzle['scores']|sort(attribute='score',reverse=True) %}
            {% if score['id'] in following %}
              <div class="post-body" {% if score['name'] == current_user.name %} data-self=true {% else %} data-following=true {% endif %}>
                <div>
                  <b>{{counter.position}}. </b>
                  <a class="user-link truncate" href="{{url_for(route.user.profile, userid=score['id'])}}">{{score['name']}}</a>                  |  <span class="matrix-number">{{score['score']}}</span>
                </div>
                <div class="matrix-secondary">
                  {{score['dateSubmitted'][:10]}}
                </div>
              </div>
              {% if counter.update({"position":counter.position + 1}) %} {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/puzzleinfo.js')}}"></script>
{% endblock %}
