{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

<h1>{{puzzle['title']}}</h1>
<h2>{{puzzle['creator']}}</h2>
<p>Plays: {{puzzle['play_count']}}</p>
<p>Highest score: {{puzzle['highscore']}}</p>
<p>Date created: {{puzzle['dateCreated'][:10]}}</p>
<p>Average rating: {{puzzle['average_rating']|round(2)}} ({{puzzle['rating_count']}})</p>

<a href="/puzzle/{{puzzle['id']}}/play"><button id="play-button" {% if puzzle['score'] %}disabled{% endif %}>Play</button></a><br>
<br>
<span>
  Rate this puzzle
  <div id="rate-slider">
    <p id="rate-back">☆☆☆☆☆</p>
    <p id="rate-current">★★★★★</p>
  </div>
</span>

<div class="leaderboard-body">
  <button id="switch-leaderboard-button">All</button>
  <div id="main-leaderboard" class="leaderboard post-list">
    {% for score in puzzle['scores']|sort(attribute='score',reverse=True) %}
      <div class="post-body">
        <b>{{loop.index}}</b><br>
        <a href="/user/{{score['id']}}/profile">{{score['name']}}</a>  |  {{score['score']}}<br>
        {{score['dateSubmitted'][:10]}}
      </div>
    {% endfor %}
  </div>

  <div id="following-leaderboard" class="leaderboard post-list">
    {% set counter={"position": 1} %}
    {% for score in puzzle['scores']|sort(attribute='score',reverse=True) %}
      {% if score['id'] in following %}
        <div class="post-body">
          <b>{{counter.position}}</b><br>
          <a href="/user/{{score['id']}}/profile">{{score['name']}}</a>  |  {{score['score']}}<br>
          {{score['dateSubmitted'][:10]}}
        </div>
        {% if counter.update({"position":counter.position + 1}) %} {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script src="{{url_for('static', filename='js/puzzleinfo.js')}}"></script>
{% endblock %}
