{% extends "base.html" %}
{% block title %} Register Page {% endblock %}
{% block content %}
<div id="title-container">
  <pre>  
      ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
      ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
      ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
      ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
      ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
       ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                            
  </pre>
</div>

<div id="login">
  <form class="primary" name="register-form" method="POST" action="{{ url_for(route.register) }}">
    {{ form.csrf_token }}
    <div id="login-inner">
      <h1 class="header">Register</h1>
      {{ form.hidden_tag() }}
      <label for="username">Username</label>
      {{ form.username(class="form-control", id="username-input") }}

      <label for="password">Password</label>
      {{ form.password(class="form-control", id="password-input") }}

      <label for="confirm_password">Confirm Password</label>
      {{ form.password2(class="form-control", id="confirm-password-input") }}

      <br>
      <input class="submitbutton" type="submit" id=submit value="Register">
      <br>
      <p id="create-account" class="hint">Already have an account? <a href="{{ url_for(route.login) }}">Login</a></p>
    </div>
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="error-message" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
