{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<div id="login" >
  <form class="primary" name="register-form" method="POST">
    <div id="login-inner">
      <h1 class="header">Register</h1>
      <label for="username">Username </label>
      <input type="text" name="username" id="username-input">

      <label for="password">Password </label>
      <input type="password" name="password" id="password-input">

      <label for="confirmpassword">Confirm password </label>
      <input type="password" name="confirmpassword">
      
      <br>
      <input class="submit button" type="submit" id=submit value="Register">
      <br>
      <p id="create-account" class="hint">Already have an account? <a href="{{url_for(route.login)}}">Login</a></p>
    </div>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="error-message one-eighth">
        {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
</div>
{% endblock %}