{%extends 'base.html'%}

{% block content%}
<body>
    <script src = "../static/js/index.js" defer></script>
    <script src = "../static/js/search.js" defer></script>
    <div class="panel-container">
        <div id="search-filter-container">
            <div class="buttons-container row" id="search-container">
                <input type="text" id="search" placeholder="Search"/>
                <button id="submit-search">Submit</button>
            </div>
            <div class="buttons-container row" id="sort-filter-container">
                <p class="button-label">Sort By</p>
                <button class="toggle-button toggle-button--selected" type="button">Date</button>
                <button class="toggle-button" type="button">Play count</button>
                <button class="toggle-button" type="button">Highscore</button>
                <button class="toggle-button" type="button">Rating</button>
                <button class="toggle-button" type="button">Alphabet</button>
            </div>
            <div class="buttons-container row">
                <p class="button-label">Order by:</p>
                <button class="basic-toggle basic-toggle--selected" id="order" type="button">Descending</button>
                <label for="page-size" class="page-size-label"> Page size:</label>
                <select class = "dropdown" id="page-size">
                    <option value="10">Select a page size</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="buttons-container row">
                <button class="row-label" data-toggletarget="rating-filter-container">rating</button>
                <button class="row-label" data-toggletarget="playcount-filter-container">play count</button>
                <button class="row-label" data-toggletarget="date-filter-container">date</button>
                <button class="cycle-label" id="ignore-completed" type="button">Ignore completed</button>
                <button class="basic-toggle" id="filter-following">By following</button>
            </div>
            <div class="buttons-container row" id="rating-filter-container" data-display="false">
                <label for="min-rating" class="rating-label"> Browse by rating from</label>
                <select class = "dropdown" id="min-rating">
                    <option value="0">Minimum Rating:</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <label for="max-rating" class="rating-label">to</label>
                <select class = "dropdown" id="max-rating">
                    <option value="5">Maximum Rating:</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="buttons-container row" id="playcount-filter-container" data-display="false">
                <label for="min-playcount" class="play_count-label">Browse by playcount from</label>
                <input type="number" class="play_count" id="min-playcount" placeholder="Minimum playcount:" value="0"/>
                <label for="max-playcount" class="play_count-label">to</label>
                <input type="number" class="play_count" id="max-playcount" placeholder="Maximum playcount:" value="999999"/>
            </div>
            <div class="buttons-container row" id="date-filter-container" data-display="false">
                <label for="min-date" class="date-label">Browse by date from</label>
                <input type="date" id="min-date" class="date">
                <label for="max-date" class="date-label">to</label>
                <input type="date" id="max-date" class="date">
            </div>
        </div>
        <div class="post-container" id="search-results" data-post-container>
            <template class="post-template">
                <div class="post">
                    <div class="puzzle-row">
                        <a class="puzzle-title" href="" data-puz-title></a>
                        <a class="puzzle-id" href="" data-puz-id></a>
                    </div>
                    <div class="author-row">
                        <a class="author-name" href="" data-author-name></a>
                        <a class="author-id" href="" data-author-id></a>
                        <div class="date-created" data-date-created></div> 
                    </div>
                    <div class="stats-row">
                        <div class="play-count matrix-number" data-playcount></div>
                        <div class="avg-rating matrix-number" data-avg-rating></div>
                        <div class="highscore matrix-number" data-highscore></div>
                    </div>
                </div>
            </template>
        </div>
        <div class="page-change-container">
            <button class="arrow-button" id="left-arrow">&lt;</button>
            <div id="page-num-container">
                <template class="page-num-template">
                    <button class="page-number-button" data-pnButton></button>
                </template>
            </div>
            <button class="arrow-button" id="right-arrow">&gt;</button>
            <div id="dataContainer"></div>
        </div>
    </div>

</body>
</html>

{% endblock %}