{% extends "base.html" %}
{% block title %} Submit Puzzle Page {% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel = "stylesheet" href = "../static/css/submitpuzzle.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js/submitpuzzle.js')}}"></script>

<div id="title-container">
    <pre>
        
  
        ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
        ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
        ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
        ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
        ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
         ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                            
        
  
    </pre>
</div>

<h1 style="text-align: center;"> Submit a Puzzle! </h1>

<div id="puzzleFormContainer">
    <form method="POST">
        {{ form.csrf_token }}
        <div id="innerForm">
        {{ form.csrf_token }}
        <label for="puzzlename">Puzzle Name:</label>
        {{ form.puzzlename(class="form-control", id="puzzlename") }}
        <label for="puzzle">Puzzle String:</label>
        {{ form.puzzle(class="form-control", id="puzzle") }}
        <br>
        <input class="submitbutton" type="submit" id="submit" value="Submit Puzzle">
        <br>
        </div>
    </form>
</div>

<button class="submitbutton" id="showInstructions"> Show Instructions </button>
<p id="instructions"> Create a <b>PUZZLE!</b> Insert a string of alphabetical characters only, 
    that can be used to form potentially new words alongside a puzzle name. 
    Example: inputting 'asdkflkasc' as a puzzle. Users can then submit answers based on this string, e.g. 'flask'. 
    String length is limited to 10 and cannot contain special characters * . , - etc.
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} MatrixTextRed" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}