{% extends "base.html" %}
{% block title %} Submit Puzzle Page {% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel = "stylesheet" href = "{{url_for('static', filename='css/submitpuzzle.css')}}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js/submitpuzzle.js')}}"></script>

<div id="title-container">
    <pre>

        ██╗    ██╗ ██████╗ ██████╗ ██████╗        █████╗ ███╗   ███╗██████╗ ██╗     ███████╗
        ██║    ██║██╔═══██╗██╔══██╗██╔══██╗      ██╔══██╗████╗ ████║██╔══██╗██║     ██╔════╝
        ██║ █╗ ██║██║   ██║██████╔╝██║  ██║█████╗███████║██╔████╔██║██████╔╝██║     █████╗  
        ██║███╗██║██║   ██║██╔══██╗██║  ██║╚════╝██╔══██║██║╚██╔╝██║██╔══██╗██║     ██╔══╝  
        ╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝      ██║  ██║██║ ╚═╝ ██║██████╔╝███████╗███████╗
         ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝       ╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚══════╝╚══════╝
                                                                                  
    </pre>
</div>
<div id="puzzle-name-input"></div>
<br>

<div id="instructions-container">
    <div id="instructions" data-display="false"><b>&ltCreate a puzzle!&gt</b>
        <ul>
            <li>Enter any ten letters (repetitions allowed)</li>
            <li>Give your puzzle a title</li>
            <li>Press create!</li>
        </ul>
        The aim of the game is for users to come up with the five longest words they can think of using those letters.
        The more letters, the more points, and the higher they'll rise on the leaderboard.
        Users can rate your puzzle, so an especially tricky or enjoyable one will rise to the top!
    </div>
</div>

<div id="content-box">
    <div class="letter-square" id="ls1"></div>
    <div class="letter-square" id="ls2"></div>
    <div class="letter-square" id="ls3"></div>
    <div class="letter-square" id="ls4"></div>
    <div class="letter-square" id="ls5"></div>
    <div class="letter-square" id="ls6"></div>
    <div class="letter-square" id="ls7"></div>
    <div class="letter-square" id="ls8"></div>
    <div class="letter-square" id="ls9"></div>
    <div class="letter-square" id="ls10"></div>
  </div>

<div id="error-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} MatrixTextRed error-message one-eighth" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div id="puzzleFormContainer">
    <form method="POST">
        {{ form.csrf_token }}
        <div id="innerForm">
        <label for="puzzlename">Puzzle Name:</label>
        {{ form.puzzlename(class="form-control", id="puzzlename", autocomplete="off") }}
        <label for="puzzle">Puzzle String:</label>
        {{ form.puzzle(class="form-control", id="puzzle", autocomplete="off") }}
        <br>
        <input class="submitbutton" type="submit" id="submit" value="Submit Puzzle">
        <br>
        </div>
    </form>
</div>

<div id="create-puzzle-container">
    <input type="submit" id="create-puzzle-btn" value="Create">
    <button class="submitbutton" id="showInstructions">?</button>
</div>
{% endblock %}