<!DOCTYPE html>
<html>
<head>
    <title>wordGame</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/wordGame.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
{% extends "base.html" %}
{% block content %}
<body id="body">
    <div class="col-sm-12" id="gameArea">
        <div id="gameContent">
            <div class="container" id="puzzleStringContainer" data-puzzlestring="{{puzzle['content']}}">
                <p class="Screen MatrixTextGreen" id="puzzleString"></p>
                <div id="userButtons">
                <button class="Screen MatrixTextGreen Button" onclick="Game.shuffleString()" id="shuffleButton">
                    [SHUFFLE]
                </button>
                <button class="Screen MatrixTextGreen Button" onclick="Game.reset()" id="resetButton">
                    [RESET]
                </button>
                <p class="Screen MatrixTextGreen" id="score">SCORE: <span id="scoreValue"></span></p>
                </div>
            </div>
            <div class="container" id="userInputContainer">
                <div id="submittedWords"></div>
                <label for="userInput" class="Screen MatrixTextYellow">$></label>
                <div id="userSubmission">
                    <input class="Screen MatrixTextYellow" type="text" id="userInput" oninput="Game.updateString()" autofocus>
                    <button class="Screen MatrixTextYellow Button" onclick="Game.solve()" id="submitButton">
                        [FINISH]
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/wordGame.js')}}"></script>
</body>
{% endblock %}
</html>
