{% extends "base.html" %}
{% block content %}
<body id="body">

    <div id="instructions-container">
        <div id="instructions" data-display="false"><b>&ltComplete a puzzle!&gt</b>
            <ul>
                <li>Create up to five unique words using the puzzle letters</li>
                <li>To submit a word, type it in and press enter</li>
                <li>Click on a submitted word to delete it</li>
                <li>Press [FINISH] when you are ready to submit your score</li>
            </ul>
            The longer the words you can come up with, the higher your score.
            You only have one attempt - so give it your best shot!
            Be sure to leave a rating if you enjoyed the puzzle :-)
        </div>
    </div>
    
    <div class="col-sm-12" id="gameArea">
        <div id="gameContent">
            <div class="container" id="puzzleStringContainer" data-puzzlestring="{{puzzle['content']}}">
                <p class="Screen MatrixTextGreen" id="puzzleString"></p>
                <div id="userButtons">
                    <button class="Screen MatrixTextGreen Button" id="shuffleButton">
                        [SHUFFLE]
                    </button>
                    <button class="Screen MatrixTextGreen Button" id="resetButton">
                        [RESET]
                    </button>
                    <p class="Screen MatrixTextGreen" id="score">SCORE: <span id="scoreValue"></span></p>
                </div>
            </div>
            <div class="container" id="userInputContainer">
                <div id="submittedWords"></div>
                <label for="userInput" class="Screen MatrixTextYellow">$></label>
                <div id="userSubmission">
                    <input class="Screen MatrixTextYellow" type="text" id="userInput" autofocus>
                    <button class="Screen MatrixTextYellow Button {% if completed %}greyed{% endif %}" id="submitButton">
                        [FINISH]
                    </button>
                    <button class="Screen MatrixTextYellow Button" id="showGameInstructions">[?]</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/wordGame.js')}}"></script>
</body>
{% endblock %}
</html>
