<!DOCTYPE html>
<html>
<head>
    <title>wordGame</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/wordGame.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body id="body">
    <div class="col-sm-12" id="gameArea">
        <div class="container" id="randStringContainer">
            <p class="Screen MatrixTextGreen" id="randomString"></p>
            <div id="userButtons">
            <button class="Screen MatrixTextGreen Button" onclick="shuffleString()" id="shuffleButton">
                [SHUFFLE]
            </button>
            <button class="Screen MatrixTextGreen Button" onclick="reset()" id="resetButton">
                [RESET]
            </button>
            <p class="Screen MatrixTextGreen" id="score">SCORE: <span id="scoreValue"></span></p>
            </div>
        </div>
        <div class="container" id="userInputContainer">
            <div id="submittedWords"></div>
            <label for="userInput" class="Screen MatrixTextYellow">$></label>
            <input class="Screen MatrixTextYellow" type="text" id="userInput" oninput="updateString()" autofocus>
        </div>
    </div>
    <script src="../static/js/wordGame.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
