h1 {
    text-align: center;
    color: green;
}

#showInstructions {
    display: block; 
    margin: 0 auto; 
    margin-top: 20px;
}

.puzzleFormContainer {
    margin: 0 auto; 
    text-align: center; 
}

#instructions {
    padding: 20px;
    display: none;
  }