<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Puzzle Submission </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/submitpuzzle.css">
        <script src="../static/js/submitpuzzle.js"></script>
    </head>

    <body>
        <h1> Submit a Puzzle! </h1>
        <button id="showInstructions"> Show Instructions </button>
        <p id="instructions"> Insert a string of alphabetical characters only, that can be used to form potentially new words. 
            Example: inputting 'asdkflkasc' as a puzzle. Users can then submit answers based on this string, e.g. 'flask'. 
            String length is limited too **DECIDED BETWEEN GROUP LATER** and cannot contain special characters * . , - etc.</p>
        <form>
            <label for="puzzle">Puzzle String:</label><br>
            <input type="text" id="puzzle" name="puzzle" value="e.g. ajgsmczl">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>