:root {
    --matrix-primary: rgb(0, 188, 0);
    --matrix-secondary: rgb(238, 214, 62);
}

body {
    background-color: 	rgba(10, 10, 10, 1);
    color: rgba(125,225,125,0.75);
}

@keyframes blink {
    from, to { opacity: 100% }
    85% { opacity: 0%; }
}

@keyframes QuickBlink {
    0% {opacity: 100%;}
    20% {opacity: 0%;}
    30% {opacity: 100%;}
    40% {opacity: 0%;}
    50% {opacity: 100%;}
    60% {opacity: 0%;}
}

@keyframes ScreenEffect {
    0% { opacity: 0.92 }
    50% { opacity: 1 }
    100% { opacity: 0.95}
}

@keyframes Pulse {
    0% { text-shadow: 0 0 2px }
    50% { text-shadow: 0 0 4px }
    100% { text-shadow: 0 0 0px }
}

@keyframes FlickerGlowEffect {
    0% { text-shadow: 0px 0px 2px; }
    50% { text-shadow: 0px 0px 0px;}
    100% { text-shadow: 0px 0px 2px;}
}

@keyframes FlickerEffect {
    0% { opacity: 100%; }
    50% { opacity: 40%;}
    90% { opacity: 100%;}
}

.error-message {
    color: red;
    text-shadow: 0px 0px 4px;
    animation: ScreenEffect 0.3s ease infinite;
    animation: FlickerEffect 0.15s step-end normal;
    animation-iteration-count: 2;
}

.Screen {
    animation: ScreenEffect 0.3s ease infinite;
}

* {
    font-family: 'VT323', monospace;
}

#title-container > pre{
    animation: ScreenEffect 0.3s ease infinite;
    animation: Pulse .9s ease infinite;
    color: var(--matrix-primary);
    font-size: max(0.9vw, 6px);
    width: 100vw;
    text-align: center;
}

#main-nav {
    background-color: rgba(10,10,10,1);
    position: sticky;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#nav-links .nav-link > a{
    color: var(--matrix-primary);
    animation: Pulse 1.5s ease infinite;
    text-decoration: none;
    position: relative;
}

#nav-links .nav-link > a:hover {
    animation: blink 1s step-end infinite;
    color: var(--matrix-secondary);
}
#nav-links .nav-link > a:hover::before {
    position: absolute;
    content: '_________________________';
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden; 
    text-shadow: 0 0 2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}
#nav-links .nav-link > a:hover::after {
    position: absolute;
    content: '_________________________';
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden; 
    text-shadow: 0 0 10px;
    bottom: -5px;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

#nav-links .nav-link {
    position: relative;
}

#nav-links .nav-link:hover::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: rgba(10,10,10,1);
    z-index: 2;
    user-select: none;
    pointer-events: none;
    animation: QuickBlink 0.5s step-end normal;
}

#nav-hint {
    width: 25%;
    color: var(--matrix-primary);
    animation: Pulse .9s ease infinite;
    user-select: none;
}

@keyframes CRTShift {
    0% { background-size: 4px 4px;}
    50% { background-size: 4px 4px; }
}

@keyframes Scanlines {
    0% { background-position-y: 0px;}
    100% { background-position-y: 100px;}
}


#crt-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 4px 4px;
    background-image: radial-gradient(circle, rgba(255, 0, 0, .15) 1px, rgba(0, 0, 0, 0) 1px);
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: CRTShift 7s steps(60) infinite;
}

#crt-effect:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 4px 4px;
    background-image: radial-gradient(circle, rgba(0, 255, 0, .15) 1px, rgba(0, 0, 0, 0) 1px);
    background-position: 2px 0px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: CRTShift 7s steps(30) infinite;
}

#crt-effect:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 4px 4px;
    background-image: radial-gradient(circle, rgba(0, 0, 255, .15) 1px, rgba(0, 0, 0, 0) 1px);
    background-position: 1px 2px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: CRTShift 7s steps(70) infinite;
}

#scanlines::after {
    z-index: 200;
    user-select: none;
    pointer-events: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 20%;
    background-size: 40px 100px;
    background-image: linear-gradient(to bottom, rgba(40,40,40,1) 2px, transparent 1px);
    animation: Scanlines 1.5s steps(450) infinite;
}

#scanlines {
    z-index: 200;
    user-select: none;
    pointer-events: none;
    content: '';
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 40%;
    background-size: 40px 100px;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10) 2px, transparent 1px);
    animation: Scanlines 1.5s steps(450) infinite;
}

#nav-location {
    position: relative;
}

@keyframes reveal {
    0% {width: 110%;}
    100% {width: 0%;}
}
#nav-location[hovered="true"]::after {
    position: absolute;
    content: '';
    top: 0;
    right: -10%;
    width: 0%;
    height: 100%;
    opacity: 100%;
    background-color: rgba(10,10,10,1);
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: reveal 0.3s steps(10) normal;
}