* {
    font-family: 'VT323', monospace;
}

body {
    background-color: 	#1a0600;
    color: rgba(125,225,125,0.75);
}
pre{
    font-size: calc(8px + 0.2vw);
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: rgba(125,225,125,0.75);
}
a:hover{
    text-decoration: underline;
}

.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-item-list{
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item:before{ content: ">"}

.nav-item{
    font-size: 16;
    margin-left: 20px;
}
.nav-item:first-child{
    margin-left: 0;
    margin-right: auto;
}


.panel-container{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.toggle-button{
    margin-right: 0.5rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: solid 1px rgba(125,225,125,0.75);
    color: rgba(125,225,125,0.75);
    background-color: #1a0600;
}
.toggle-button:not(.toggle-button--selected):hover{
    background-color: #293102;;
}
.toggle-button--selected{
    background-color: rgba(125,225,125,0.75);
    color: #1a0600;
    border: solid 1px #1a0600;

}


.post-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.post{
    border: 1px solid rgba(125,225,125,0.75);
    padding: 0.5rem;
    border-radius: .25rem;
    width: 80%;
    margin-top: 1rem;
}

.puzzle-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.puzzle-title{
    font-size: 1.25rem;
    margin-right: 0.5rem;
}
.puzzle-id:before{ content: "#"}
.puzzle-id{
    font-size: 0.75rem;
    color: grey;
}

.author-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.author-name{
    margin-right: 0.5rem;
    font-size: 0.9rem;
}
.author-id:before{ content: "#"}
.author-id{
    font-size: 0.75rem;
    color: grey;
    margin-right:0.5rem;
}
.date-created{
    font-size: 0.75rem;
    color: grey;
}

.stats-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.playcount:before{ content: "Total Plays: "}
.playcount{
    font-size: 0.75rem;
    margin-right: 2rem;
}
.avg-rating:before{ content: "Average rating: "}
.avg-rating{
    font-size: 0.75rem;
    margin-right: 2rem;
}
.highscore:before{ content: "Highscore: "}
.highscore{
    font-size: 0.75rem;
    margin-right: 2rem;
}

