* {
    font-family: 'VT323', monospace;
}

body {
    background-color: 	#1a0600;
    color: rgba(125,225,125,0.75);
}

pre{
    font-size: calc(8px + 0.2vw);
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    animation: ScreenEffect 0.3s ease infinite;
}

a{
    text-decoration: none;
    color: rgba(125,225,125,0.75);
}

a:hover{
    text-decoration: underline;
    animation: blink 1s ease infinite;
}

/* login.css */

#login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgba(125, 225, 125, 0.75);
    box-shadow: 0 0 30px rgba(2, 213, 55, 0.307);
}

#login-inner {
    display: flex;
    flex-direction: column;
}

#login-inner > * {
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid rgba(125, 225, 125, 0.75);
    padding: 8px;
    background-color: #000;
    color: rgba(125,225,125,0.75);
}

.form-control:hover {
    animation: blink 1s ease;
}

.form-control:focus {
    animation: none; 
}


.submitbutton {
    background-color: rgba(125, 225, 125, 0.75); 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
}

.submitbutton:hover {
    animation: blink 1s ease infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes ScreenEffect {
    0% { opacity: 0.88; }
    50% { opacity: 1;}
    100% { opacity: 0.93;}
}

@keyframes FlickerGlowEffect {
    0% { text-shadow: 0px 0px 2px; }
    50% { text-shadow: 0px 0px 0px;}
    100% { text-shadow: 0px 0px 2px;}
}

@keyframes FlickerEffect {
    0% { opacity: 100%; }
    50% { opacity: 40%;}
    90% { opacity: 100%;}
}

.error-message {
    color: red;
    text-shadow: 0px 0px 4px;
    animation: ScreenEffect 0.3s ease infinite;
    animation: FlickerEffect 0.15s step-end normal;
    animation-iteration-count: 2;
}