@import url(https://fonts.googleapis.com/css?family=VT323);

* {
    font-family: monospace;
}

body {
    background-color: 	#1a0600;
    color: rgba(125,225,125,0.75);
}

#puzzle-info * {
    font-family: 'VT323', monospace;
    font-size: 25px;
}

#puzzle-info p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
}

#puzzle-info p:nth-of-type(1) {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 25px;
}


#puzzle-info p:nth-of-type(2) {
    margin-left: 0px;
    margin-top: 5px;
}

#puzzle-info p:last-of-type {
    margin-left: 0px;
    margin-bottom: 5px;
}

.post-body, #puzzle-info {
    background-color: black;
    border: 1px solid rgba(125,225,125,0.75);
    padding: 0.5rem;
    border-radius: .125rem;
    width: 80%;
    margin-top: 1rem;

    /* scanline concept source: https://stackoverflow.com/questions/61431316/how-to-get-scanlines-over-background-image-in-css */
    background:
    radial-gradient(rgba(55, 70, 55, 0.2) 1px,transparent 0.5px) 0   0   /3px 3px,
    radial-gradient(rgba(55, 70, 55, 0.2) 1px,transparent 0.5px) 1px 1px /3px 3px,
    radial-gradient(rgba(55, 70, 55, 0.2) 0.5px,transparent 0.5px) 2px 2px /3px 3px
}

.user-link {
    color: inherit
}

.user-link:hover, #play-button:hover {
    color: black;
    background-color: rgba(125,225,125,0.75);
}

#following-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#switch-leaderboard-button, #play-button {
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: none;
}

#play-button {
    margin-top: 0px;
    margin-bottom: 5px;
}

.Screen {
    animation: ScreenEffect 0.3s ease infinite;
}

@keyframes ScreenEffect {
    0% { opacity: 0.92 }
    50% { opacity: 1 }
    100% { opacity: 0.95}
}

.MatrixTextYellow {
    color: rgba(225,225,125,0.75);
    text-shadow: 0 0 5px rgba(225,225,125,0.5), 0 0 15px rgba(225,250,125,1);
}

.MatrixTextGreen {
    color: rgba(125,225,125,0.75);
    text-shadow: 0 0 5px rgba(125,225,125,0.5), 0 0 15px rgba(125,250,125,1);
}
  