*:focus{
    outline:none;
}

#submit{
    width: 5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(125,225,125,0.75);
    color: rgba(125,225,125,0.75);
    background-color: #1a0600;
}
#submit:hover{
    background-color: #293102;
}

#search{
    width: 40%;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(125,225,125,0.75);
    color: rgba(125,225,125,0.75);
    background-color: #1a0600;
}

.row-label:before{content: '>Browse by ';}
.row-label,
.dropdown,
.rating,
.play_count,
.date,
.basic-toggle,
.arrow-button,
#page-select{
    width: 15rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(125,225,125,0.75);
    color: rgba(125,225,125,0.75);
    background-color: #1a0600;
}

#page-select{
    width: 3rem;
    margin-left: 0.5rem;
}

.arrow-button{
    width: 1rem;
    margin-left: 0.5rem;
}

.row-label:not(.row-label--selected):hover,
.basic-toggle:not(.basic-toggle--selected):hover,
.arrow-button:hover{
    background-color: #293102;
}
.row-label--selected,
.basic-toggle--selected{
    background-color: rgba(125,225,125,0.75);
    color: #1a0600;
    border: solid 1px #1a0600;
}

.rating,
.play_count,
.date{
    display: none;
}

.dropdown option:first-child,
.rating option:first-child{
    display: none;
}

.play_count::placeholder{
    color: rgba(125,225,125,0.75);
}

.rating-label,
.play_count-label,
.date-label{
    margin-right: 0.75rem;
    display: none;
}

.button-label,
.page-size-label{
    margin-right: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
}

input {
    color-scheme: dark;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}
<<<<<<< HEAD
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
=======

.basic-toggle, .cycle-label{
    width: 15rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(125,225,125,0.75);
    color: rgba(125,225,125,0.75);
    background-color: #1a0600;
>>>>>>> 0139d458e5e75a85a79b6844f23f90524b44a7e7
}
input[type=number]{
    -moz-appearance: textfield;
}

.page-change-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}