body {
    background-color: 	rgb(1, 5, 0);
    color: rgba(125,225,125,0.75);
    margin: 0;
    padding: 0;
}

pre{
    font-size: calc(8px + 0.15vw);
    margin: 0px;
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    animation: ScreenEffect 0.3s step-end infinite;
}

a{
    text-decoration: none;
    color: rgba(125,225,125,0.75);
}

a:hover{
    text-decoration: underline;
    animation: blink 1s ease infinite;
}

#puzzleFormContainer{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px;
    border: 2px solid rgba(125, 225, 125, 0.75);
    box-shadow: 0 0 30px rgba(2, 213, 55, 0.307);
    opacity: 0%;
    pointer-events: none;
}

#innerForm {
    display: flex;
    flex-direction: column;
}

#innerForm > * {
    margin-bottom: 10px;
}



.form-control {
    border: 1px solid rgba(125, 225, 125, 0.75);
    padding: 8px;
    background-color: #000;
    color: rgba(125,225,125,0.75);
}

.form-control:hover {
    animation: blink 1s ease;
}

.form-control:focus {
    animation: none;
}


.submitbutton {
    position: relative;
    margin: 0;
    background-color: rgba(125, 225, 125, 0.75);
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submitbutton:hover {
    animation: blink 1s ease infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes ScreenEffect {
    0% { opacity: 0.88 }
    50% { opacity: 1 }
    100% { opacity: 0.93}
}

.background-square,
.letter-square {
    background-color: color-mix(in srgb, var(--matrix-primary) 10%,rgb(0,0,0) 90%);
    outline: 2px solid color-mix(in srgb, var(--matrix-primary) 20%,rgb(0,0,0) 80%);
    margin: 3%;
    border-radius: 0px;
    aspect-ratio: 1/1;
    position: inherit;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(3vw, 40px);
    font-weight: 400;
    padding: 0px;
    color: rgba(255,255,255, 0);
    transition: background-color 120ms ease, border 50ms ease, color 75ms ease-in-out;
    user-select: none;
}

#content-box {
    position: relative;
    top: 0%;
    width: max(30%, 350px) ;
    margin: auto;
    aspect-ratio: 10 / 1;
    background-color: color-mix(in srgb, var(--matrix-primary) 10%,rgb(0,0,0) 90%);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 1fr));
    grid-template-rows: repeat(autofit, 1fr);
    padding: 0.5%;
    cursor: pointer;
}

[selected="true"] {
    outline: 2px solid var(--matrix-primary);
}

#content-box::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 1%;
    top: 1%;
    position: absolute;
    z-index: -1;
    background-color: var(--matrix-primary);
    opacity: 15%;
}

.has-text {
    border: 3px solid rgb(10, 10, 10);
    color: var(--matrix-primary);
    background-color: color-mix(in srgb, var(--matrix-primary) 25%,rgb(0,0,0) 75%);
    outline: 2px solid var(--matrix-primary);
    filter: saturate(150%);
    box-shadow: 0px 0px 5px var(--matrix-primary), 0px 0px 7px var(--matrix-primary), 0px 0px 9px var(--matrix-primary);
    animation: QuickBlink 0.08s step-end normal, Pulse 1s ease infinite;
}

#puzzle-name-input {
    margin: auto;
    position: relative;
    width: max(20vw, 350px);
    height: max(5.5vh, 55px);
    font-size: max(0.8vw, 12px);
    cursor: pointer;
    background-color: color-mix(in srgb, var(--matrix-primary) 25%,rgb(0,0,0) 75%);
    border: 2px dotted green;
    filter: saturate(150%);
    text-align: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    overflow:hidden;
    white-space: pre;
    font-weight: bolder;
}

#puzzle-name-input[selected="true"]::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

#puzzle-name-input[empty="true"][selected="false"]::before {
    content: '<Puzzle title>';
}

#error-box {
    width: 100%;
    padding: 1%;
    text-align: center;
}

#create-puzzle-container {
    width: max(20vw, 200px);
    height: max(5.5vh, 30px);
    left: calc(50vw - max(20vw, 200px)/2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#showInstructions { 
    margin: 0;
    border-radius: 2px;
    color: var(--matrix-primary);
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--matrix-primary);
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    display: block;
    text-align: center;
    padding: 0;
}

#showInstructions:hover { 
    background-color: var(--matrix-primary);
    color: rgb(0,0,0,1);
}

#instructions-container {
    position: absolute;
    margin-top: -10vh;
    left: calc(max(50%,700px)/2 - max(30%, 700px)/4 - max(20vw, 300px)/2);
}
#instructions {
    opacity: 0%;
    color: var(--matrix-secondary);
    padding: 8% 8%;
    width: max(20vw, 300px);
    height: auto;
    pointer-events: none;
    font-size: min(min(3.5vw, 3.5vh), 16px);
}

#instructions[data-display="true"] {
    opacity: 100%;
    z-index: 1000;
    position: relative;
}

#instructions[data-display="true"]::after {
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: 4px 4px;
    background-image: radial-gradient(circle, var(--matrix-primary) 1px, rgba(0, 0, 0, 0) 1px);
    mask: linear-gradient(to right, black 0% 2%, rgba(0,0,0,0) 2% 98%, black 98%), linear-gradient(to bottom, black 0% 2%, rgba(0,0,0,0) 2% 98%, black 98%);
    animation: FlickerEffect 0.15s step-end normal;
    animation-iteration-count: 2;
}


#create-puzzle-btn {
    margin-right: 10px;
    position: relative;
    left: 0;
    width: max(10vw, 150px);
    height: 100%;
    font-size: max(0.8vw, 12px);
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--matrix-primary);
    border-radius: 2px solid var(--matrix-primary);
    filter: saturate(100%);
    text-align: center;
    font-family: 'VT323', monospace;
    color: var(--matrix-primary);
    border-radius: 1px;
    animation: ScreenEffect 0.3s ease infinite; 
    font-weight: bolder;
}

#create-puzzle-btn:hover {
    background-color: var(--matrix-primary);
    color: rgb(0,0,0,1);
    animation: ScreenEffect 0.3s ease infinite, FlickerEffect 0.1s step-end normal;
    animation-iteration-count: 2;
}