* {
    font-family: 'VT323', monospace;
}

body {
    background-color: 	#1a0600;
    color: rgba(125,225,125,0.75);
}

pre{
    font-size: calc(8px + 0.2vw);
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    animation: blink 4s linear infinite;
}

a{
    text-decoration: none;
    color: rgba(125,225,125,0.75);
}

a:hover{
    text-decoration: underline;
    animation: blink 1s linear infinite;
}

#puzzleFormContainer{
    width: 300px;
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px;
    border: 2px solid rgba(125, 225, 125, 0.75);
    box-shadow: 0 0 30px rgba(2, 213, 55, 0.307);
}

#innerForm {
    display: flex;
    flex-direction: column;
}

#innerForm > * {
    margin-bottom: 10px;
}

#showInstructions {
    display: block; 
    margin: 0 auto; 
    margin-top: 20px;
}

.form-control {
    border: 1px solid rgba(125, 225, 125, 0.75);
    padding: 8px;
    background-color: #000;
    color: rgba(125,225,125,0.75);
}

.form-control:hover {
    animation: blink 1s linear infinite;
}

.form-control:focus {
    animation: none;
}


.submitbutton {
    background-color: rgba(125, 225, 125, 0.75);
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submitbutton:hover {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


