@import url(https://fonts.googleapis.com/css?family=VT323);

#body {
    background-color: black;
    cursor: default;
}

#gameArea {
    align-items: center;
    margin: 50px;
    font-family: 'VT323', monospace;
    user-select: none;
}

/* containers */

.container {
    margin: 5px;
    background-color: rgb(10, 15, 10);

    /* scanline concept source: https://stackoverflow.com/questions/61431316/how-to-get-scanlines-over-background-image-in-css */
    background:
    radial-gradient(rgba(55, 70, 55, 0.2) 1px,transparent 0.5px) 0   0   /3px 3px,
    radial-gradient(rgba(55, 70, 55, 0.2) 1px,transparent 0.5px) 1px 1px /3px 3px,
    radial-gradient(rgba(55, 70, 55, 0.2) 0.5px,transparent 0.5px) 2px 2px /3px 3px
}

#userInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 250px;
    margin-top: 0px;
    max-width: 550px;
}

#userSubmission {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;   
}

#puzzleStringContainer {
    display: grid;
    place-items: center;
    margin-bottom: 0px;
    max-width: 550px;
}

/* puzzleString */

#puzzleString {
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    min-height: 75px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 10px;
}

#userButtons button, #submitButton, #closeButton, #exitButton {
    text-align: center;
    margin-top: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
}

#resetButton {
    margin-left: 40px;
    margin-right: 40px;
}

#submitButton {
    margin-left: 0px;
    margin-right: 0px;
}

#score {
    display: inline-block;
    min-width: fit-content;
}

/* userInput */
 
#userInputContainer label, #userInput, .wordTile, #userButtons, #submitButton, #closeButton, #exitButton {
    font-size: 30px;
}

#userInputContainer label {
    position: absolute;
    margin-left: 10px;
    line-height: 30px;
}

#userInput {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    text-align: left;
    text-transform: uppercase;
    caret-color: rgba(225, 225, 125, 0.75);
    margin-left: 45px;
}

#showInstructions {
    display: block; 
    margin: 0 auto; 
    margin-top: 20px;
}

#instructions {
    padding: 20px;
    display: none;
}

.wordTile {
    display: column;
    align-items: center;
    text-transform: uppercase;
    max-height: 35px;
    width: fit-content;
    padding: 0px;
    margin-left: 46px;
}

/* userInput */

#leaderboard{
    box-sizing: border-box;
    margin: 5px auto;
    width: 550px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#leaderboard h2 {
    font-size: 50px;
    padding-top: 5px;  
}

.leaderboard-table {
    font-size: 25px;
    margin: auto;
}

.leaderboard-table a, .leaderboard-table a:hover {
    color: inherit;
}

.leaderboard-table a.MatrixTextYellow:hover {
    color: black;
    background-color: rgba(225,225,125,0.75);
}


.leaderboard-table th, .leaderboard-table td {
    padding: 0 0;
}

.leaderboard-table td:nth-child(2) {
    text-align: left;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

#closeButton, #exitButton {
    width: 100%;
    box-sizing: border-box;
}

/* "Matrix" font - modified version of: https://codepen.io/freelesio/pen/MWQaGPb */

.Screen {
    animation: ScreenEffect 0.3s ease infinite;
}

@keyframes ScreenEffect {
    0% { opacity: 0.92 }
    50% { opacity: 1 }
    100% { opacity: 0.95}
}

.MatrixTextGreen {
    color: rgba(125,225,125,0.75);
    text-shadow: 0 0 5px rgba(125,225,125,0.5), 0 0 15px rgba(125,250,125,1);
}
  
.MatrixTextYellow {
    color: rgba(225,225,125,0.75);
    text-shadow: 0 0 5px rgba(225,225,125,0.5), 0 0 15px rgba(225,250,125,1);
}

.MatrixTextRed {
    color: rgba(225, 125, 125, 0.75);
    text-shadow: 0 0 5px rgba(225,125,125,0.5), 0 0 15px rgba(225,125,125,1);
}

.puzzleFormContainer {
    margin: 0 auto; 
    text-align: center; 
}

.greyed {
    filter: grayscale() brightness(80%);
    text-decoration: line-through;
}